


		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners" id="home">
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">

						<!-- SLIDE 1 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="ROCKET ELEVATORS">
							<!-- Rocket Elevator Slide -->
							<%= image_tag("Slide-1.jpeg", :alt => "cover image", :data => { :bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat" }  ) %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:rgb(249, 250, 252); font-size:90px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									ROCKET ELEVATORS
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="100"
								data-y="225" 
								data-speed="500"
								data-start="2000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 3; font-size:40px; color:#fff; font-weight:300; text-shadow:none;">
									Elevate <em>safety</em>
									 <br> <em>speed</em> and <em>style.</em>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="2500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="#services"> Our services <i class="fa fa-angle-right"></i></a>
									&nbsp; OR &nbsp; 
									<a class="btn btn-danger btn-lg" href="quote.html"> Request a quote <i class="fa fa-angle-right"></i></a>
								</div>

						</li>

					
						<!-- SLIDE 2 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="RESIDENTIAL SERVICES">
							<!-- MAIN IMAGE -->
							<%= image_tag("Slide-2.jpeg", :alt => "cover image", :data => { :bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat" }  ) %>
						
							
							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="320"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Our Services For <br> Residential Buildings
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="471"
								data-y="275" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:40px; color:#fff; font-weight:300; text-shadow:none;">
								Make safety a priority.
							</div>

							

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="595"
								data-y="350" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="residential.html">Our residential services &nbsp; <i class="fa fa-angle-right"></i></a>
									
								</div>
						</li>

						<!-- SLIDE 3 -->
						<li data-transition="parallaxtobottom data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="COMMERCIAL/CORPORATE SERVICES">
							<!-- Corporate Slide -->
							<%= image_tag("Slide-3.jpeg", :alt => "cover image", :data => { :bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat" }  ) %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								Our Services For <br> Commercial & Corporate Buildings
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:40px; color:#fff; font-weight:300; text-shadow:none;">
								New ways to reach the highest praises.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="corporate.html">Our commercial & corporate services &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							
						</li>


						
					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->



			 <!-- RIBBON -->
			 <section class="parallax parallax-1" style="background-color:darkblue;">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-30 fw-300"> Over the years, Rocket Elevators has worked very hard to improve its products so that they can
							 fully satisfy its customers as well as the new customers. Down below, you will find the company's lastest projects and its accomplishments over the years.
							and has won few awards. </h2>
						<a class="btn btn-danger btn-lg" href="residential"> Residential <i class="fa fa-angle-right"></i></a> 
						&nbsp;  &nbsp; 
						<a class="btn btn-danger btn-lg" href="corporate"> Corporate <i class="fa fa-angle-right"></i></a>
						&nbsp;  &nbsp; 
						<a class="btn btn-danger btn-lg" href="#portfolio"> Awards <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			
      		  <!-- /RIBBON -->


			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevators convinced you? 
					<strong>Contact Us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<%= image_tag("Residential.jpeg", :alt => "", :width => "300", :height => "200") %>
							</a>

							<h4 class="mt-10">Residential </h4>
							<p>Make going to and from work enjoyable.</p>
							<a href="residential.html" class="btn btn-primary">Get more info</a>
						</div>

						<div class="col-sm-4">
							<%= image_tag("Corporate.jpeg", :alt => "", :width => "300", :height => "200") %>
							<h4 class="mt-10">Commercial & Corporate </h4>
							<p>Provide the comfort your employees deserve.</p>
							<a href="corporate.html" class="btn btn-primary">Get more info</a>
						</div>

						<div class="col-sm-4">
							<%= image_tag("Awards-300x200.jpg", :alt => "", :width => "300", :height => "200") %>
							<h4 class="mt-10">Our Awards</h4>
							<p>Give a look to our top achievements.</p>
							<a href="#portfolio" class="btn btn-primary">See more</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/Ribbon.jpg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300"> Doing <strong>THE BEST</strong> business on the market since 1976</h2>
						<a class="btn btn-danger btn-lg" href="quote.html"> Request a quote <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-danger btn-lg" href="#contact"> Contact us <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="work">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>PORTFOLIO</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="development" class="filter"><a href="#">Residential Projects</a></li>
							<li data-filter="photography" class="filter"><a href="#">Corporate Projects</a></li>
							<li data-filter="design" class="filter"><a href="#">Awards</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix design"><!-- item 1 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/World's Project-1200x1000.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("World's Project-1200x1000.jpg", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Elevator World's 2019 Project of the Year Award</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">World POY</a></li>
											<li><a href="#">2019</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 1 -->

							<div class="col-md-3 col-sm-3 mix design"><!-- item 2 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Customer Service-1200x1000.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("Customer Service-1200x1000.jpg", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>2015 Best Customer Services of The Year 2015</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Customer Services </a></li>
											<li><a href="#">2015</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 2 -->

							
							<div class="col-md-3 col-sm-3 mix design"><!-- item 3 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Community Leadership Award-1200x1000.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

											<%= image_tag("Community Leadership Award-1200x1000.png", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>2000 Community Leadearship Award</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Community </a></li>
											<li><a href="#">2000</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 3 -->

							
							<div class="col-md-3 col-sm-3 mix design"><!-- item 4 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Canada's project of the year 1200x1000.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("Canada's project of the year 1200x1000.jpg", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Project of The Year 1987 in Canada</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">POY Canada </a></li>
											<li><a href="#">1987</a></li>
										</ul>

									</div>

								</div>

							</div><!-- /item 4 -->

							<div class="col-md-3 col-sm-3 mix development"><!-- item 5 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/BeverlyHilton-1200x1000.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("BeverlyHilton-1200x1000.jpeg", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>The Beverly Hilton</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Beverly Hills (USA)</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 5-->

							
							<div class="col-md-3 col-sm-3 mix development"><!-- item 6 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Marina Tower-1200x1000.Dubai" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>
										<%= image_tag("Marina Tower-1200x1000.Dubai", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Marina Tower</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Dubai (United Arab Emirates)</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 6-->

						
							<div class="col-md-3 col-sm-3 mix development"><!-- item 7 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/ZoiHouse-1200x1000.Miami" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>
										<%= image_tag("ZoiHouse-1200x1000.Miami", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Zoi House Coconut Groves Apartments</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Miami (USA)</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 7-->

							<div class="col-md-3 col-sm-3 mix development"><!-- item 8 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Residential-1200x1000.Timisoara" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("Residential-1200x1000.Timisoara", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Vertical Village</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Timisoara (Romania)</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 8-->
		
		
							<div class="col-md-3 col-sm-3 mix photography"><!-- item 9 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Corporate-1200x1000.Skytree" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a
												>
											</span>
										</span>

										<%= image_tag("Corporate-1200x1000.Skytree", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Tokyo Skytree</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Tokyo (Japan)</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 9 -->

							<div class="col-md-3 col-sm-3 mix photography"><!-- item 10 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Corporate-1200x1000.Microsoft" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("Corporate-1200x1000.Microsoft", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Microsoft Redmond Woods Campus</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Redmond (USA)</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 10 -->


							<div class="col-md-3 col-sm-3 mix photography"><!-- item 11 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Willis-1200x1000.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>
										
										<%= image_tag("Willis-1200x1000.png", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Willis Tower</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Chicago</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 11 -->

							<div class="col-md-3 col-sm-3 mix photography"><!-- item 12 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/Corporate-1200x1000.Google"  data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- 
												<!- details ->
												<a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-4.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>
												-->

											</span>
										</span>
										
										<%= image_tag("Corporate-1200x1000.Google", :class =>"", :alt => "", :width => "300", :height => "200") %>
									</figure>

									<div class="item-box-desc">
										<h3>Google Building Boren</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Seattle (USA)</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item 12 -->


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<%= image_tag("101661070_959176317862821_3701166175879692288_n.jpg", :class =>"rounded", :alt => "") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Do or do not. There is no try.</p>
								<cite>
									Thomas Carrier
									<span>CEO of Rocket Elevators</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
								<%= image_tag("Olivier Godbout.jpg", :class =>"rounded", :alt => "") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Your focus determines your reality.</p>
								<cite>
									Olivier Godbout
									<span>Employee of the month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

				
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://www.dailymail.co.uk/news/article-8365941/De-Blasio-says-1-person-elevator-time-businesses-reopen.html">
								<%= image_tag("News2.jpg", :class =>"img-fluid", :alt => "") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.dailymail.co.uk/news/article-8365941/De-Blasio-says-1-person-elevator-time-businesses-reopen.html">Only One Person Will Be Allowed In Elevators</a></h4>
							<p class="text-left">New York City's mayor, Bill de Blasion, said when New York City eventually reopens...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 28, 2020
								</li>
								<li>
									<a href="https://www.dailymail.co.uk/news/article-8365941/De-Blasio-says-1-person-elevator-time-businesses-reopen.html">
										<i class="fa fa-comments"></i> 
										7
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.citylab.com/transportation/2020/05/elevator-anxiety-coronavirus-health-risks-design-history/611032/">
								<%= image_tag("News1.jpg", :class =>"img-fluid", :alt => "") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.citylab.com/transportation/2020/05/elevator-anxiety-coronavirus-health-risks-design-history/611032/">Will Corona Change Elevators?</a></h4>
							<p class="text-left">How can Corona affect the use of the elevators?..</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 21, 2020
								</li>
								<li>
									<a href="https://www.citylab.com/transportation/2020/05/elevator-anxiety-coronavirus-health-risks-design-history/611032/#comments">
										<i class="fa fa-comments"></i> 
										40
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.bisnow.com/los-angeles/news/office/elevators-are-the-key-to-reopening-offices-how-can-owners-keep-them-safe-104366">
								<%= image_tag("News6.jpg", :class =>"img-fluid", :alt => "") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.bisnow.com/los-angeles/news/office/elevators-are-the-key-to-reopening-offices-how-can-owners-keep-them-safe-104366">How To Keep Employees Safe</a></h4>
							<p class="text-left">How can owners, make sure their employees will respect the social distancing in elevators... </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 18, 2020
								</li>
								<li>
									<a href="https://www.bisnow.com/los-angeles/news/office/elevators-are-the-key-to-reopening-offices-how-can-owners-keep-them-safe-104366#comments">
										<i class="fa fa-comments"></i> 
										25
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.nytimes.com/2020/05/13/well/live/can-i-get-coronavirus-from-riding-an-elevator.html">
								<%= image_tag("News 5.jpg", :class =>"img-fluid", :alt => "") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.nytimes.com/2020/05/13/well/live/can-i-get-coronavirus-from-riding-an-elevator.html">Can You Get Coronavirus From Elevators?</a></h4>
							<p class="text-left">Elevators are small, people have to press buttons,lean against rails... </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 13, 2020
								</li>
								<li>
									<a href="https://www.nytimes.com/2020/05/13/well/live/can-i-get-coronavirus-from-riding-an-elevator.html">
										<i class="fa fa-comments"></i> 
										51
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.mediapost.com/publications/article/351275/dont-touch-that-filthy-elevator-button-now-there.html">
								<%= image_tag("News 2.png", :class =>"img-fluid", :alt => "") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.mediapost.com/publications/article/351275/dont-touch-that-filthy-elevator-button-now-there.html">An App to Summon An Elevator</a></h4>
							<p class="text-left">Mitsubishi Electric US has unveiled an app that let users...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 11,2020
								</li>
								<li>
									<a href="https://www.mediapost.com/publications/article/351275/dont-touch-that-filthy-elevator-button-now-there.html#comments">
										<i class="fa fa-comments"></i> 
										35
									</a>
								</li>
							</ul>
						</div>
						
						<div class="img-hover">
							<a href="https://calgary.ctvnews.ca/calgary-tower-levels-7m-lawsuit-against-elevator-maintenance-and-repair-company-1.4930185">
								<%= image_tag("News4.jpg", :class =>"img-fluid", :alt => "") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://calgary.ctvnews.ca/calgary-tower-levels-7m-lawsuit-against-elevator-maintenance-and-repair-company-1.4930185">Calgary Tower Levels A Law Suite Against An Elevator Company</a></h4>
							<p class="text-left">In July 2019, one of the tower's elevators lost two of his six cables while ...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 7, 2020
								</li>
								<li>
									<a href="https://calgary.ctvnews.ca/calgary-tower-levels-7m-lawsuit-against-elevator-maintenance-and-repair-company-1.4930185">
										<i class="fa fa-comments"></i> 
										60
									</a>
								</li>
							</ul>
						</div>
						
						
						
					</div>

				</div>
			</section>
			<!-- /News -->



			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.vitrerielaberge.ca/en/">
								<%= image_tag("Vitrerie Laberge.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.chocolatsfavoris.com/en">
								<%= image_tag("Choco Fav.png", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.desjardins.com/ca/index.jsp">
								<%= image_tag("Desj.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.lesgalerieschagnon.ca/en/">
								<%= image_tag("Galeries.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.cisssca.com/accueil/">
								<%= image_tag("Hotel-Dieu-Levis.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.hilton.com/en/">
								<%= image_tag("Hotels Hilton.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.microsoft.com/en-ca">
								<%= image_tag("Microsoft-Logo.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.nhl.com/">
								<%= image_tag("NHL.png", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.nike.com/ca/">
								<%= image_tag("Nike.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.samsung.com/ca/">
								<%= image_tag("Samsung-Logo.png", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com/">
								<%= image_tag("Google.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.apple.com/">
								<%= image_tag("Apple.jpg", :class =>"", :alt => "", :width => "225", :height => "225") %>
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">Feel free to give your thoughts on our products! Service available 24/7.</p>
						<hr />
					</header>


					<div class="row">

						<div class="row">

							<!-- FORM -->
							<div class="col-md-8 col-sm-8">
	
								<h3> You Can Ask Us <strong><em>ANYTHING.</em></strong></h3>
								<%= form_tag leads_path, :id=> 'contactForm', multipart: true do %>
									
										
									<fieldset>
										<input type="hidden" name="action" value="contact_send" />

										<div class="row">
											<div class="col-md-4">
												<label for="contact:name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="name" id="contact:name">
											</div>
											<div class="col-md-4">
												<label for="contact:email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="email" id="contact:email">
											</div>
											<div class="col-md-4">
												<label for="contact:company">Company *</label>
												<input required type="text" value="" class="form-control" name="company" id="contact:company">
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<label for="contact:phone">Phone number *</label>
												<input required type="text" value="" class="form-control" name="phone" id="contact:phone">
											</div>
											<div class="col-md-4">
												<label for="contact:department">Department for elevators</label>
												<input type="text" value="" class="form-control" name="department" id="contact:department">
											</div>
											<div class="col-md-4">
												<label for="contact:project">Name of the project</label>
												<input type="text" value="" class="form-control" name="project" id="contact:project">
											</div>
										</div>
										<div class="row">
												<div class="col-md-12">
													<label for="contact:description:project">Small description of the project</label>
													<input type="text" value="" class="form-control" name="description" id="contact:description:project">
												</div>
												
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="contact:message">Message</label>
												<textarea maxlength="1000" rows="8" class="form-control" name="message" id="contact:message"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="" type="file" name="attachment"  id="attachment" data-btn-text="Select a File" />												
												
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>


											</div>
										</div>

									</fieldset>

									<div class="row pt-20">
										
										<div class="col-6 g-recaptcha" data-sitekey="<%=ENV["RECAPTCHA_SITE_KEY"]%>" data-callback="recaptchaCallback">
											
										</div>
										<div class="col-6">
											<div class="actions">
												<button class="btn btn-dark btn-lg mt-12" id="submitBtn" disabled>Submit</button>
											</div>
										</div>
									</div>
								
								<%end%>
									<!-- Modal -->
									<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContactLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
												<h3 class="modal-title" id="modalContactLabel">Your message as been sent!</h3>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												</div>
												<div class="modal-body">
												Thank you for reaching Rocket Elevators customer service. One of our employees will get in touch with you within the next 24 hours.
												</div>
												<div class="modal-footer">
													<a class="btn btn-primary btn-lg" href="#top" role="button">Continue</a>
												</div>
											</div>
										</div>
									</div>
							</div>
						
			
							<!-- /FORM -->

							

							<!-- INFO -->
							<div class="col-md-4 col-sm-4">

								<h2>Visit Us</h2>

								
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10916.172716463778!2d-71.2796948!3d46.8428399!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sen!2sca!4v1591888995552!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

								<hr />

								<p>
									<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725 Boulevard Lebourgneuf, Quebec City, QC, G2J 0C4, Canada</span>
									<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:(581) 701-0303">(581) 701-0303</a></span>
									<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="info@codeboxx.biz">info@codeboxx.biz</a></span>
								</p>

							</div>
							<!-- /INFO -->
					</div>
				</div>
			</section>
			<!-- /CONTACT -->




			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								Rocket Elevators is offering you the best elevators and services that you can find on the market. Also, our prices are inevitably unbeatable .
							</p>
							<h2>1(581) 701-0303</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email2" class="form-control required" placeholder="Enter your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
									<span class="input-group-btn">
										<a href="thankyou" class="btn btn-success">Subscribe</a>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

<!-- Terms and Privacy -->
<div class="copyright">4
	<div class="container">
		<ul class="float-right m-0 list-inline mobile-block">

			<!-- CSS values of my popup-->
			<style>
				/* Popup container - can be anything you want */
				.popup {
				  position: relative;
				  display: inline-block;
				  cursor: pointer;
				  -webkit-user-select: none;
				  -moz-user-select: none;
				  -ms-user-select: none;
				  user-select: none;
				}
				
				/* The actual popup */
				.popup .popuptext {
				  visibility: hidden;
				  width: 160px;
				  background-color: rgb(70, 10, 235);
				  color: #fff;
				  text-align: center;
				  border-radius: 6px;
				  padding: 8px 0;
				  position: absolute;
				  z-index: 1;
				  bottom: 125%;
				  left: 50%;
				  margin-left: -80px;
				
				}
				
				/* Popup arrow */
				.popup .popuptext::after {
				  content: "";
				  position: absolute;
				  top: 100%;
				  left: 50%;
				  margin-left: -5px;
				  border-width: 5px;
				  border-style: solid;
				  border-color: #555 transparent transparent transparent;
				}
				
				/* Toggle this class - hide and show the popup */
				.popup .show {
				  visibility: visible;
				  animation: fadeIn 10s, fadeOut 10s forwards;
				}
				
				/* Add animation (fade in the popup) */
				@-webkit-keyframes fadeIn {
				  from {opacity: 0%;} 
				  to {opacity: 100%;}
				}
				
				@keyframes fadeIn {
				  from {opacity: 100%;}
				  to {opacity: 0%;}
				}
				</style>

				<!-- Calling the popup effects-->
			<li><div class="popup" onclick="myFunction()">Terms &amp; Conditions
			<span class="popuptext" id="myPopup">Other than the content you own, under these Terms, Company Name and/or its licensors own all the intellectual property rights and materials contained in this Website.<br>You are granted limited license only for purposes of viewing the material contained on this Website.</span>
			</div></li>
				<li></li>
				<li></li>
				<li>&bull;</li>
				<li></li>
				<li></li>
			<li><div class="popup" onclick="pop2()">Privacy
			<span class="popuptext" id="popMy">Log and usage data. We may log information when you access and use the Services.<br> This may include your IP address, user-agent string, browser type, operating system, referral URLs, device information (e.g., device IDs), pages visited, links clicked, the requested URL, hardware settings, and search terms. <br> Except for the IP address used to create your account, Rocket Elevators Ltd will delete any IP addresses collected after 100 days.</span>
			</div></li>
		</ul>
		&copy; All Rights Reserved, Company LTD
	</div>
</div>

		<!-- /Terms and Privacy -->

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- POPUP SCRIPTS -->
		<script>
			// When the user clicks on div, open the popup
				function myFunction() {
				var popup = document.getElementById("myPopup");
				popup.classList.toggle("show");
			}
			// When the user clicks on div, open the popup
			function pop2() {
				var popup = document.getElementById("popMy");
				popup.classList.toggle("show");
			}
		</script>
		<script type="text/javascript">
			var recaptchachecked;
			function recaptchaCallback() {
				$("#submitBtn").removeClass("btn-dark");
				$('#submitBtn').removeAttr('disabled');
            	$("#submitBtn").addClass("btn-primary");
				
				//If we managed to get into this function it means that the user checked the checkbox.
				recaptchachecked = true;
			}
		</script>
		<script>var plugin_path = 'assets/plugins/';</script>
		<%= javascript_include_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'scripts', media: 'all', 'data-turbolinks-track': 'reload' %>
		<!-- /POPUP SCRIPTS -->
		<%# <script> 
			
			$('#inputFile').on('change', function() {
				var file = $('#inputFile').prop('files')[0];
				var reader = new FileReader();
				reader.readAsBinaryString(file);
				reader.onload = function (e) {
					$("#result").val(e.target.result);
				}
			});
			
		</script> %>

		<%# undefined method `read' for "iqt1-q26-1.png":String %>
		<!-- PAGELEVEL SCRIPTS -->
		